# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Other and new charts
/charts/ @oliverbaehler

# Argo Workflows
/charts/argo-workflows/ @stefansedich @paguos @vladlosev @yann-soubeyrand 

# Argo CD
/charts/argo-cd/ @davidkarlsen @mr-sour @yann-soubeyrand @mbevc1 @mkilchhofer

# Argo Events
/charts/argo-events/ @jbehling @VaibhavPage 

# Argo Rollouts
/charts/argo-rollouts/ 
