# All
*                              @mkilchhofer @jmeridth

# Argo Workflows
/charts/argo-workflows/        @vladlosev @jmeridth @yu-croco @tico24

# Argo CD
/charts/argo-cd/               @mbevc1 @mkilchhofer @yu-croco @jmeridth @pdrastil @tico24

# Argo Events
/charts/argo-events/           @pdrastil @jmeridth @tico24

# Argo Rollouts
/charts/argo-rollouts/         @jmeridth
