apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: argocd-full-access
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - "*"
  - apiGroups:
      - ""
    resources:
    - pods
    - pods/log
    - pods/portforward
    - pods/exec
    - pods/attach
    verbs:
      - "*"
  - apiGroups:
      - ""
      - extensions
      - apps
      - networking.k8s.io
    resources:
      - configmaps
      - endpoints
      - events
      - limitranges
      - persistentvolumeclaims
      - persistentvolumeclaims/finalizers
      - podtemplates
      - replicationcontrollers
      - services
      - controllerrevisions
      - deployments
      - deployments/status
      - replicasets
      - statefulsets
      - applications
      - ingresses
      - ingresses/status
      - networkpolicies
      - poddisruptionbudgets
      - serviceaccounts
      - deployments/scale
      - statefulsets/scale
    verbs:
      - '*'
  - apiGroups:
      - bitnami.com
    resources:
      - sealedsecrets
    verbs:
      - '*'
  - apiGroups:
      - virtualservers.coreweave.com
    resources:
      - virtualservers
    verbs:
      - create
      - delete
      - update
      - patch
      - get
      - list
      - watch
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
      - workfloweventbindings
      - workflows/finalizers
      - workflowtemplates
      - workflowtemplates/finalizers
      - cronworkflows
      - cronworkflows/finalizers
      - applications
      - appprojects
      - workflowtaskresults
      - workflowtasksets
      - workflowtasksets/finalizers
    verbs:
      - '*'
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - roles
      - rolebindings
    verbs:
      - list
      - get
      - watch
      - create
      - patch
      - bind
      - delete
      - update
  - apiGroups:
      - policy
    resources:
      - poddisruptionbudgets
    verbs:
      - '*'
  - apiGroups:
      - serving.kubeflow.org
    resources:
      - inferenceservices
    verbs:
      - '*'
  - apiGroups:
      - serving.knative.dev
    resources:
      - services
      - revisions
    verbs:
      - '*'
  - apiGroups:
      - autoscaling.internal.knative.dev
    resources:
      - podautoscalers
    verbs:
      - '*'
  - apiGroups:
      - networking.istio.io
    resources:
      - virtualservices
    verbs:
      - list
      - get
  - apiGroups:
      - autoscaling
    resources:
      - horizontalpodautoscalers
    verbs:
      - '*'
  - apiGroups:
      - batch
      - extensions
    resources:
      - jobs
      - jobs/status
      - cronjobs
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - resourcequotas
      - limitranges
    verbs:
      - list
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
      - get
      - update
      - list
      - watch
      - patch
  - apiGroups:
      - traefik.containo.us
    resources:
      - ingressroutes
      - ingressroutetcps
      - ingressrouteudps
      - middlewares
      - tlsoptions
      - tlsstores
      - traefikservices
    verbs:
      - '*'
  - apiGroups:
      - cdi.kubevirt.io
    resources:
      - datavolumes
      - datavolumes/source
    verbs:
      - '*'
  - apiGroups:
      - keda.sh
    resources:
      - scaledobjects
      - scaledjobs
      - triggerauthentications
    verbs:
      - '*'
  - apiGroups:
      - cert-manager.io
    resources:
      - certificates
      - issuers
      - certificaterequests
    verbs:
      - '*'
  - apiGroups:
      - metrics.k8s.io
    resources:
      - pods
    verbs:
      - list
      - get
      - watch
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    verbs:
      - '*'
  - apiGroups:
      - sps.tensorworks.com.au
    resources:
      - spsapps
      - spsapps/status
      - scalablepixelstreamingversions
      - scalablepixelstreamingversions/status
      - scalablepixelstreamingapplications/status
      - scalablepixelstreamingapplications
    verbs:
      - '*'
  - apiGroups:
      - kubeflow.org
    resources:
      - mpijobs
      - tfjobs
      - mxjobs
      - pytorchjobs
      - xgboostjobs
      - mpijobs/status
      - tfjobs/status
      - pytorchjobs/status
      - mxjobs/status
      - xgboostjobs/status
    verbs:
      - '*'
  - apiGroups:
      - apps.kruise.io
    resources:
      - clonesets
    verbs:
      - '*'