version: 2.1
jobs:
  lint:
    docker:
      - image: quay.io/helmpack/chart-testing:v3.3.1
    steps:
      - checkout
      - run: ct lint --config .github/ct.yaml --lint-conf .github/lintconf.yaml
  publish:
    docker:
      - image: bash
    steps:
      - run: echo "Replaced by Github Workflow - https://github.com/argoproj/argo-helm/actions/workflows/publish.yml"

workflows:
  version: 2
  workflow:
    jobs:
      - lint
      - publish:
          requires:
            - lint