{{- if and .Values.server.ingressGrpc.enabled (not .Values.server.ingressGrpc.isAWSALB) -}}
{{- $hostname := default (printf "grpc.%s" .Values.server.ingress.hostname) .Values.server.ingressGrpc.hostname -}}
{{- $insecure := index .Values.configs.params "server.insecure" | toString -}}
{{- $servicePort := eq $insecure "true" | ternary .Values.server.service.servicePortHttp .Values.server.service.servicePortHttps -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "argo-cd.server.fullname" . }}-grpc
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "argo-cd.labels" (dict "context" . "component" .Values.server.name "name" .Values.server.name) | nindent 4 }}
    {{- with .Values.server.ingressGrpc.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.server.ingressGrpc.annotations }}
  annotations:
    {{- range $key, $value := . }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- end }}
spec:
  {{- with .Values.server.ingressGrpc.ingressClassName }}
  ingressClassName: {{ . }}
  {{- end }}
  rules:
    - host: {{ $hostname }}
      http:
        paths:
          {{- with .Values.server.ingressGrpc.extraPaths }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
          - path: {{ .Values.server.ingressGrpc.path }}
            pathType: {{ .Values.server.ingressGrpc.pathType }}
            backend:
              service:
                name: {{ include "argo-cd.server.fullname" . }}
                port:
                  number: {{ $servicePort }}
    {{- range .Values.server.ingressGrpc.extraHosts }}
    - host: {{ .name | quote }}
      http:
        paths:
          - path: {{ default .Values.server.ingressGrpc.path .path }}
            pathType: {{ default .Values.server.ingressGrpc.pathType .pathType }}
            backend:
              service:
                name: {{ include "argo-cd.server.fullname" . }}
                port:
                  number: {{ $servicePort }}
    {{- end }}
    {{- with .Values.server.ingressGrpc.extraRules }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- if or .Values.server.ingressGrpc.tls .Values.server.ingressGrpc.extraTls }}
  tls:
    {{- if .Values.server.ingressGrpc.tls }}
    - hosts:
      - {{ $hostname }}
      secretName: {{ printf "%s-tls" $hostname }}
    {{- end }}
    {{- with .Values.server.ingressGrpc.tls }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
{{- end }}
