apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-{{ .Values.uiName}}
  labels:
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8001
  selector:
    app: {{ .Release.Name }}-{{ .Values.uiName}}
  sessionAffinity: None
  type: LoadBalancer
