# docker registry
registry: argoproj

# The image pull policy
imagePullPolicy: Always

# Secrets with credentials to pull images from a private registry
imagePullSecrets: []
# - name: argo-pull-secret

# If set to false, skip installing the CRDs. Requires user to have them installed prior to helm chart installation.
installCRD: true

# ServiceAccount to use for running controller.
serviceAccount: argo-events-sa

# Create service accounts in additional namespaces specified
# The SA will always be created in the release namespaces
additionalSaNamespaces: []
  # - argo-prod
additionalServiceAccountRules:
- apiGroups:
    - apiextensions.k8s.io
  verbs:
    - create
    - delete
    - deletecollection
    - get
    - list
    - patch
    - update
    - watch
  resources:
    - customresourcedefinitions

instanceID: argo-events

# set `singleNamespace` to false to have the controllers
# listen on all namespaces.  Otherwise the controllers will listen
# on the namespace provided
namespace: argo-events
singleNamespace: true

# sensor controller
sensorController:
  name: sensor-controller
  image: sensor-controller
  tag: v1.3.1
  replicaCount: 1
  sensorImage: sensor
  podAnnotations: {}
  nodeSelector: {}
  podLabels: {}
  priorityClassName: ""
  tolerations: []
  affinity: {}
  resources: {}

eventsourceController:
  name: eventsource-controller
  image: eventsource-controller
  tag: v1.3.1
  replicaCount: 1
  eventsourceImage: eventsource
  podAnnotations: {}
  nodeSelector: {}
  podLabels: {}
  priorityClassName: ""
  tolerations: []
  affinity: {}
  resources: {}

eventbusController:
  name: eventbus-controller
  image: eventbus-controller
  tag: v1.3.1
  replicaCount: 1
  podAnnotations: {}
  nodeSelector: {}
  podLabels: {}
  priorityClassName: ""
  tolerations: []
  affinity: {}
  resources: {}
  natsStreamingImage: nats-streaming:0.17.0
  natsMetricsExporterImage: synadia/prometheus-nats-exporter:0.6.2

securityContext:
  runAsNonRoot: true
  runAsUser: 9731
