{{- if .Values.crds.install }}
{{- $pattern := ternary "files/crds/full/*.yaml" "files/crds/minimal/*.yaml" .Values.crds.full }}
{{- range $path, $_ :=  .Files.Glob  $pattern }}
{{- if not (contains "clusterworkflowtemplates" $path) }}
---
{{ $.Files.Get $path }}
{{- end }}
{{- end }}
{{- if or (.Values.server.clusterWorkflowTemplates.enabled) (.Values.controller.clusterWorkflowTemplates.enabled) }}
{{- $clusterWftPath := ternary "files/crds/full/argoproj.io_clusterworkflowtemplates.yaml" "files/crds/minimal/argoproj.io_clusterworkflowtemplates.yaml" .Values.crds.full }}
---
{{ $.Files.Get $clusterWftPath }}
{{- end }}
{{- end }}
