apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-metrics
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/name: {{ .Release.Name }}-metrics
    app.kubernetes.io/part-of: {{ .Release.Name }}
spec:
  ports:
  - name: metrics
    protocol: TCP
    port: 8090
    targetPort: 8090
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}
