apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  {{- if .Values.podAnnotations }}
  annotations:
  {{- range $key, $value := .Values.podAnnotations }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
  labels:
    app.kubernetes.io/component: {{ .Values.controller.component }}
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/part-of: {{ .Release.Name }}
    {{- if .Values.podLabels }}
{{- toYaml .Values.podLabels | nindent 4 }}
    {{- end }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      containers:
      - command:
        - "/bin/rollouts-controller"
        image: "{{ .Values.controller.image.repository }}:{{ .Values.controller.image.tag }}"
        imagePullPolicy: {{ .Values.controller.image.pullPolicy }}
        name: {{ .Values.controller.name }}
        volumeMounts:
        - name: tmp
          mountPath: /tmp
        resources:
{{- toYaml .Values.controller.resources | nindent 10 }}
      volumes:
      - name: tmp
        emptyDir: {}
  strategy:
    type: Recreate
