apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "argocd-notifications.name" . }}-controller
  labels:
    {{- include "argocd-notifications.labels" . | nindent 4 }}
spec:
  strategy:
    {{- .Values.updateStrategy | toYaml | nindent 4 }}
  selector:
    matchLabels:
      {{- include "argocd-notifications.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- if .Values.podAnnotations }}
      annotations:
      {{- range $key, $value := .Values.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
      {{- end }}
      labels:
        {{- include "argocd-notifications.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "argocd-notifications.serviceAccountName" . }}
      containers:
        - name: {{ include "argocd-notifications.name" . }}-controller
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          command:
            - /app/argocd-notifications
            - controller
            - --loglevel={{ .Values.logLevel }}
            {{- if .Values.metrics.enabled }}
            - --metrics-port={{ .Values.metrics.port }}
            {{- end }}
            {{- range .Values.extraArgs }}
            - {{ . | squote }}
            {{- end }}
          ports:
          {{- if .Values.metrics.enabled }}
          - containerPort: {{ .Values.metrics.port }}
            name: metrics
            protocol: TCP
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
