{{ if .Values.secret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "argocd-notifications.name" . }}-secret
  labels:
    {{- include "argocd-notifications.labels" . | nindent 4 }}
type: Opaque
stringData:
  notifiers.yaml: |
{{- if .Values.secret.notifiers.slack.enabled }}
    slack:
      token: {{ .Values.secret.notifiers.slack.token }}
      username: {{ .Values.secret.notifiers.slack.username }}
      icon: {{ .Values.secret.notifiers.slack.icon | quote }}
      signingSecret: {{ .Values.secret.notifiers.slack.signingSecret }}
{{- end }}
{{- if .Values.secret.notifiers.grafana.enabled }}
    grafana:
      apiUrl: {{ .Values.secret.notifiers.grafana.apiUrl }}
      apiKey: {{ .Values.secret.notifiers.grafana.apiKey }}
{{- end }}
{{- if .Values.secret.notifiers.webhooks }}
    webhook:
{{- range $k, $v := .Values.secret.notifiers.webhooks }}
      - name: {{ $k }}
        {{- $v | toYaml | nindent 8 }}
{{- end }}
{{- end }}
{{ end }}
