{{ if .Values.notifications.secret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: argo-rollouts-notification-secret
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/component: {{ .Values.controller.component }}
    {{- include "argo-rollouts.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- with .Values.notifications.secret.items }}
    {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}
