{{ if .Values.notifications.configmap.create }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: argo-rollouts-notification-configmap
  namespace: {{ include "argo-rollouts.namespace" . | quote }}
  labels:
    app.kubernetes.io/component: {{ .Values.controller.component }}
    {{- include "argo-rollouts.labels" . | nindent 4 }}
data:
  {{- with .Values.notifications.notifiers }}
    {{- if eq .format "template" }}
      {{- tpl (toYaml .) $ | nindent 2 }}
    {{- else }}
      {{- toYaml . | nindent 2 }}
    {{- end }}
  {{- end }}
  {{- with .Values.notifications.templates }}
    {{- if eq .format "template" }}
      {{- tpl (toYaml .) $ | nindent 2 }}
    {{- else }}
      {{- toYaml . | nindent 2 }}
    {{- end }}
  {{- end }}
  {{- with .Values.notifications.triggers }}
    {{- if eq .format "template" }}
      {{- tpl (toYaml .) $ | nindent 2 }}
    {{- else }}
      {{- toYaml . | nindent 2 }}
    {{- end }}
  {{- end }}
  {{- with .Values.notifications.subscriptions }}
  subscriptions: |
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
