{{- if .Values.controller.pdb.enabled }}
apiVersion: {{ include "argo-rollouts.podDisruptionBudget.apiVersion" . }}
kind: PodDisruptionBudget
metadata:
  name: {{ template "argo-rollouts.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "argo-rollouts.labels" . | nindent 4 }}
  {{- with .Values.controller.pdb.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.controller.pdb.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.controller.pdb.minAvailable }}
  minAvailable: {{ .Values.controller.pdb.minAvailable }}
  {{- else if .Values.controller.pdb.maxUnavailable }}
  maxUnavailable: {{ .Values.controller.pdb.maxUnavailable }}
  {{- else }}
  minAvailable: 0
  {{- end }}
  selector:
    matchLabels:
      {{- include "argo-rollouts.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ .Values.controller.component }}
{{- end }}
