{{- if not .Values.clusterInstall }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "argo-rollouts.fullname" . }}
  namespace: {{ include "argo-rollouts.namespace" . | quote }}
  labels:
    app.kubernetes.io/component: {{ .Values.controller.component }}
    {{- include "argo-rollouts.labels" . | nindent 4 }}
rules:
  {{- include "argo-rollouts.controller.roleRules" . | nindent 2 }}
{{- end }}
