apiVersion: v2
appVersion: v2.3.1
description: A Helm chart for Argo CD, a declarative, GitOps continuous delivery tool for Kubernetes.
name: argo-cd
version: 4.7.7
home: https://github.com/coreweave/argo-helm
icon: https://argo-cd.readthedocs.io/en/stable/assets/logo.png
keywords:
  - argoproj
  - argocd
  - gitops
maintainers:
  - name: coreweave
dependencies:
  - name: redis-ha
    version: 4.12.17
    repository: https://dandydeveloper.github.io/charts/
    condition: redis-ha.enabled
annotations:
  artifacthub.io/changes: |
    - "[Fixed]: Add missing NetworkPolicy for ApplicationSet and Notifications"
  category: CI/CD