apiVersion: v2
appVersion: 2.1.2
description: A Helm chart for ArgoCD, a declarative, GitOps continuous delivery tool for Kubernetes.
name: argo-cd
version: 3.21.2
home: https://github.com/argoproj/argo-helm
icon: https://argoproj.github.io/argo-cd/assets/logo.png
keywords:
  - argoproj
  - argocd
  - gitops
maintainers:
  - name: alexec
  - name: alexmt
  - name: jessesuen
  - name: seanson
dependencies:
  - name: redis-ha
    version: 4.12.17
    repository: https://dandydeveloper.github.io/charts/
    condition: redis-ha.enabled
annotations:
  artifacthub.io/changes: |
    - "[Fixed]: Dex deployment now also supports hostAliases"
    - "[Fixed]: server.additionalApplications.[].info"
