apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "argocd-image-updater.fullname" . }}
  namespace: {{ include "argocd-image-updater.namespace" . | quote }}
  labels:
    {{- include "argocd-image-updater.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "argocd-image-updater.selectorLabels" . | nindent 6 }}
  strategy:
    {{- .Values.updateStrategy | toYaml | nindent 4 }}
  template:
    metadata:
      annotations:
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      labels:
      {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        {{- include "argocd-image-updater.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "argocd-image-updater.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          args:
            - run
            {{- with .Values.extraArgs }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          env:
          - name: APPLICATIONS_API
            valueFrom:
              configMapKeyRef:
                key: applications_api
                name: {{ .Values.config.name }}
                optional: true
          - name: ARGOCD_GRPC_WEB
            valueFrom:
              configMapKeyRef:
                key: argocd.grpc_web
                name: {{ .Values.config.name }}
                optional: true
          - name: ARGOCD_SERVER
            valueFrom:
              configMapKeyRef:
                key: argocd.server_addr
                name: {{ .Values.config.name }}
                optional: true
          - name: ARGOCD_INSECURE
            valueFrom:
              configMapKeyRef:
                key: argocd.insecure
                name: {{ .Values.config.name }}
                optional: true
          - name: ARGOCD_PLAINTEXT
            valueFrom:
              configMapKeyRef:
                key: argocd.plaintext
                name: {{ .Values.config.name }}
                optional: true
          - name: ARGOCD_TOKEN
            valueFrom:
              secretKeyRef:
                key: argocd.token
                name: {{ .Values.config.argocd.tokenSecretName }}
                optional: true
          - name: IMAGE_UPDATER_LOGLEVEL
            valueFrom:
              configMapKeyRef:
                key: log.level
                name: {{ .Values.config.name }}
                optional: true
          - name: GIT_COMMIT_USER
            valueFrom:
              configMapKeyRef:
                key: git.user
                name: {{ .Values.config.name }}
                optional: true
          - name: GIT_COMMIT_EMAIL
            valueFrom:
              configMapKeyRef:
                key: git.email
                name: {{ .Values.config.name }}
                optional: true
          - name: IMAGE_UPDATER_KUBE_EVENTS
            valueFrom:
              configMapKeyRef:
                key: kube.events
                name: {{ .Values.config.name }}
                optional: true
          - name: GIT_COMMIT_SIGNING_KEY
            valueFrom:
              configMapKeyRef:
                key: git.commit-signing-key
                name: {{ .Values.config.name }}
                optional: true
          - name: GIT_COMMIT_SIGNING_METHOD
            valueFrom:
              configMapKeyRef:
                key: git.commit-signing-method
                name: {{ .Values.config.name }}
                optional: true
          - name: GIT_COMMIT_SIGN_OFF
            valueFrom:
              configMapKeyRef:
                key: git.commit-sign-off
                name: {{ .Values.config.name }}
                optional: true
          {{- with .Values.extraEnv }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.extraEnvFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
            {{ if .Values.metrics.enabled }}
            - name: metrics
              containerPort: 8081
              protocol: TCP
            {{- end }}
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 30
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 30
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
          - mountPath: /app/config
            name: image-updater-conf
          - mountPath: /app/config/ssh
            name: ssh-known-hosts
          - mountPath: /app/.ssh
            name: ssh-config
          - mountPath: /tmp
            name: tmp
          - name: ssh-signing-key
            mountPath: /app/ssh-keys/id_rsa
            readOnly: true
            subPath: sshPrivateKey
          {{- if .Values.authScripts.enabled }}
          - mountPath: /scripts
            name: authscripts
          {{- end }}
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 10}}
          {{- end }}
      volumes:
      - configMap:
          items:
          - key: registries.conf
            path: registries.conf
          - key: git.commit-message-template
            path: commit.template
          name: {{ .Values.config.name }}
          optional: true
        name: image-updater-conf
      {{- if .Values.authScripts.enabled }}
      - configMap:
          defaultMode: 0777
          name: {{ .Values.authScripts.name }}
        name: authscripts
      {{- end }}
      - configMap:
          name: argocd-ssh-known-hosts-cm
          optional: true
        name: ssh-known-hosts
      - configMap:
          name: {{ .Values.config.sshConfig.name }}
          optional: true
        name: ssh-config
      - name: ssh-signing-key
        secret:
          secretName: ssh-git-creds
          optional: true
      - emptyDir: {}
        name: tmp
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 6}}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.initContainers }}
      initContainers:
        {{- toYaml . | nindent 6 }}
      {{- end }}
