## Reference: https://github.com/actions/stale
name: Mark stale issues and pull requests
on:
  schedule:
  - cron: "30 1 * * *"

permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@1160a2240286f5da8ec72b1c0816ce2481aabf84 # v8.0.0
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        # Number of days of inactivity before an issue becomes stale
        days-before-stale: 60
        # Number of days of inactivity before a stale issue is closed
        days-before-close: 7
        # Issues with these labels will never be considered stale
        exempt-issue-labels: "on-hold,pinned,security"
        exempt-pr-labels: "on-hold,pinned,security"
        # Comment to post when marking an issue as stale.
        stale-issue-message: >
          This issue has been automatically marked as stale because it has not had
          recent activity. It will be closed if no further activity occurs. Thank you
          for your contributions.
        stale-pr-message: >
          This pull request has been automatically marked as stale because it has not had
          recent activity. It will be closed if no further activity occurs. Thank you
          for your contributions.
        # Label to use when marking an issue as stale
        stale-issue-label: 'no-issue-activity'
        stale-pr-label: 'no-pr-activity'
